/* Área Geral */

body {
    display: flex;
    flex-direction: column;
    background-image: url(./imagens/building-410266_1280.jpg);
    background-size: cover;
    margin: 20px;
    gap: 20px;
}

.container {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
}

h3 {
    display: flex;
    font-size: 25px;
    justify-content: center;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    text-indent: 1.4rem;
    line-height: 1.6rem;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: goldenrod;
}

label {
    font-size: 25px;
}

select, input, textarea {
    font-size: 100%;
}

textarea {
    font-size: 23px;
}

span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid green;
    margin: 0 auto;
    padding: 10px;
}

#clock {
    display: flex;
    font-size: 1rem;
    margin-bottom: 20px;
    color: white;
    justify-content: center;
}

/* Animação botão */

/* Estilo base do botão */
.btn-enviar.btn3 {
    font-size: 20px;
    color: white;
    background-color: green;
    border: 2px solid green;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 16px 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.75);
    font-family: Verdana, sans-serif;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 200px; /* Tamanho inicial do botão */
}

/* Estilo adicional para o botão */
.btn-enviar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 200px; /* Largura inicial */
    transition: width 1s ease-in, background-color 0.5s ease-in;
}

/* Animação ao passar o mouse */
.btn-enviar:hover {
    background-color: rgb(62, 71, 60);
    width: 250px; /* Largura ao passar o mouse */
}

/* Animação ao passar o mouse (ícone) */
.btn-enviar:hover::after {
    animation-name: plane_change;
    animation-duration: 0.65s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

/* Conteúdo adicional do botão (ícone) */
.btn-enviar::after {
    content: "\f1d8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: 1;
    position: absolute;
    right: 10px;
    transition: all 0.5s ease-in-out;
}

/* Keyframes para a animação do ícone */
@keyframes plane_change {
    0% {
        transform: rotateZ(0);
        right: 10px;
        opacity: 1;
        bottom: 0;
    }
    50% {
        transform: rotateZ(20deg);
        right: 25px;
        opacity: 0.75;
        bottom: 10px;
    }
    75% {
        transform: rotateZ(-30deg);
        bottom: 30px;
        right: 40px;
        opacity: 0.5;
    }
    100% {
        transform: rotateZ(-50deg);
        bottom: 50px;
        right: 60px;
        opacity: 0;
    }
}


/* Área section Mosaico */

.mosaico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "segunda primeira"
                         "terceira primeira";
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}

.primeira_img {
    width: 100%;
    height: 100%;
    grid-area: primeira;
}

.primeira_imagem {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);   
}

.imagens-secundarias {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.segunda_img {
    grid-area: segunda;
}

.segunda_imagem, .terceira_imagem {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.terceira_img {
    grid-area: terceira;
}

/* Área focada em footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-left, .footer-center, .footer-right {
    margin-bottom: 20px;
    text-align: center;
}

/* Área Cadastro */

.formulario_cadastro {
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    border: 2px solid black;
    width: 85%;
}

.cadastrar_titulo {
    font-size: 30px;
}

/* Área Home */

.curiosidades {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.sobre_nos {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 20px;
    gap: 30px;
}

.quem_somos, .nossa_historia, .nosso_objetivo {
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dados {
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 15px;
    color: white;
}

/* Área cabeçalho */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.navbar-home {
    font-size: 25px;
    padding-top: 17px;
    text-decoration: none;
    color: white;
}

.navbar-listas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-lista {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
}

.nav-link {
    font-size: 25px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
}

.nav-menu {
    gap: 20px;
}

.ancora-item {
    display: none;
}

/* Área Listar Imoveis */ 

.imovel_titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

table {
    padding: 20px;
}

th {
    font-size: 25px;
}

td {
    font-size: 18px;
}

/* Media Queries para Responsividade */

@media (max-width: 768px) {
    .mosaico {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "primeira"
            "segunda"
            "terceira";
    }

    span {
        font-size: 25px;
      
    }
    
    .cadastrar_titulo {
        font-size: 25px;
    }

    textarea {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 10px;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size: 10px;
    }

    .primeira_img, .segunda_img, .terceira_img {
        width: 100%;
        height: auto;
    }
    .imagens-secundarias {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        margin-bottom: 10px;
    }
    .formulario_cadastro {
        display: flex;
        background-color: rgb(240, 240, 240);
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin: 0 auto;
        border: 2px solid black;
        width: 80%;
    }
}

@media (max-width: 400px) {    
    textarea {
        width: 150px;
        padding: 10px;
    }

    span {
        width: 100%;
        font-size: 20px;
        padding: 0px;
    }

    #tipo {
        font-size: 20px;
    }

    #transacao {
        font-size: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    #descricao {
        font-size: 15px;
    }

    .titulo {
        font-size: 40px;
    }
 
    .formulario_cadastro {
        display: flex;
        background-color: rgb(240, 240, 240);
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin: 0 auto;
        border: 2px solid black;
        width: 60%;
    }
}